<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.css">
    <script src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="section">
        <h5><b>使い方</b></h5>
        <div class="divider"></div>
        <div class="section">
            <h6>ここでは，アプリの使い方について説明しています．</h6>
        </div>
        <p>
            
        </p>
    </div>


</body>
<script>

</script>

</html>