<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.css">
    <script src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="section">
        <h5>開発者ブログ</h5>
    </div>
    <div class="divider"></div>
    <iframe id="blog" src="https://ragi-lts.github.io/home/" frameborder="0" width="100%" height=></iframe>

    <script>
        document.getElementById('blog').setAttribute('height', window.innerHeight * 0.85);
    </script>
</body>

</html>