<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>やる気を出すApp</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.css">
    <script src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="section">
        <h5> <b><span id="AppName"></span>へようこそ！</b></h5>
        <div class="divider"></div>
        <p>
            <span id="AppName"></span>へようこそ！<br>
            このアプリでは，飽き性の人のためのモチベーション改善アプリです．<br>
            なにか，最近続かないことばっかりだなと思ったことはありませんか？<br>
            このアプリを活用すれば，最終目標に沿って細かく設定することができ，
            自身のモチベーションを支えることができます．
        </p>
    </div>

    <div class="section">
        <h5><b>特徴</b></h5>
        <div class="divider"></div>
        <p>

        </p>
    </div>



</body>

</html>